.categories-container{
    margin-left: 5px;
    width: 100%;
}


.categories {
    display: flex;
   /* flex-wrap: wrap; /* Ensures items move to new lines if needed */
    gap: 10px;
    align-items: center;
    justify-content: center; /* Centers items */
    width: 100%; /* Allow full width */
    max-width: 100%; /* Prevents forcing scrolling */
   
    /*overflow: hidden;*/
}

.varieties, .varieties1 {
    min-width: 120px;
    padding: 4px 4px;
    background: #252525;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    height: 35px;
}

.varieties, .varieties1, .varieties4 {
    min-width: 120px;
    padding: 4px 4px;
    background: #252525;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    height: 35px;
}

.varieties:hover, .varieties1:hover {
    background: #3a3a3a;
}


@media (min-width: 599px){
    .categories-container{
        margin-left: 25%;
    }

   /* .varieties {
     padding-top: 50px;
    }*/
}

@media (min-width: 600px) and (max-width:675px){
    .categories-container{
        margin-left: 20%;
    }

    .varieties1{
        margin-left: -20px;
    }
    .varieties4{
        margin-right: 50px;
    }
}

@media (min-width: 1130px){
    .varieties1{
        margin-left: 0%;
    }
   .categories{
    margin-left: 70px;
   }
}