.cardContainer{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 16px;
    font-weight: 500; 
  /*  border: 1px solid #ccc;*/
    border-radius: 5px;
    width: 80%;
}

.cardContainer img{
    height: 300px;
    width: 100%;
    margin-bottom:5px;
    border-radius: 10px;
    object-fit: cover;
}

.cardContainer h3{
    font-size: 12px;
    color: #6d6d6d;
}

.cardContainer h4{
    font-size: 18px;
    color: #474747;
}