.openMessage{
    margin-left: 15px;
    margin-top:35px;
    font-size: 30px;
    color: #424242;
    font-weight: 500;
    line-height: 35px;
}

/*.openMessage span{
    font-weight: bold;
    color: #252525;
}*/
.homeContent{
    margin-top: 27px;
    margin-left: 5px;
    font-size: 20px;
    color: #5c5b5b;
  /*  background-color: #e7e70c;*/
    width: 360px;
    height: 85px;
    padding-top: px;
    padding-left: 7px;
   /* border-radius: 5px;*/
    font-weight: 500;
}

.seeCampaigns-btn{
    background-color: #0b0b0b;
    color: white;
    width: 250px;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 13px;
    border-radius: 3px
}

.Trial{
    display: flex;
    flex-grow: 1;
}

.top{
    margin-top: 15px;
    margin-left: 11%;
    font-weight: 400;
    font-size: 16px;
    width: 70px;
    justify-content: center;
    align-items: center;
    height: 30px;
    color:white;
    border-radius: 2px;
    background-color: black;
}

.top hr{
    width: 50%;
    border: 1.5px solid #252525;
    margin-left: 15%;
}

.top p{
    margin-left: 17px;
    font-size: 17px;
    color:  white;
}

.card1{
    
}


@media (max-width: 599px){
  .seeCampaigns-btn{
    
  }
}

@media (min-width: 600px){
    .seeCampaigns-btn{
       margin-left: 50%;
       margin-top: 40px;
    }
    .openMessage{
        font-size: 60px;
        line-height: 70px;
        margin-left: 50px

    }
    .homeContent{
         margin-left: 50px;
    }


  }

  @media (min-width: 1025px){
    .seeCampaigns-btn{
       margin-left: 70%;
       margin-top: 40px;
    }
    .openMessage{
        font-size: 80px;
        line-height: 90px;
        margin-left: 50px;
        margin-top: 80px;
    }

    .seeCampaigns-btn{
        padding-top: 30px;
        padding-bottom: 30px;
        width:500px;
        margin-top: 80px
    }

   
  }

  @media (min-width: 420px) and (max-width: 599px){
    .seeCampaigns-btn{
        margin-left: 26%;
       
    }
    
  }