.openMessage{
    margin-left: 15px;
    margin-top:35px;
    font-size: 30px;
    color: #424242;
    font-weight: 500;
    line-height: 35px;
}

/*.openMessage span{
    font-weight: bold;
    color: #252525;
}*/
.homeContent{
    margin-top: 27px;
    margin-left: 5px;
    font-size: 20px;
    color: #5c5b5b;
  /*  background-color: #e7e70c;*/
    width: 360px;
    height: 85px;
    padding-top: px;
    padding-left: 7px;
   /* border-radius: 5px;*/
    font-weight: 500;
}

.seeCampaigns-btn{
    background-color: #0b0b0b;
    color: white;
    width: 250px;
    margin-left: 55px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 13px;
    border-radius: 3px
}